.sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

@media(min-width: 1200px){
    .sidebar{
        width: 200px;
    }
}

.sidebar-link{ 
    height: 74px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

@media(min-width:1200px){
    
    .sidebar-link{
        display: flex;
        flex-direction: row;
        height:60px;
        margin-right: 20px;
    }
    .image{
        position: absolute;
        left: 20px;
        width: 40px;
    }
    
    .image-div{
        position: absolute;
        left: 70px;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 6px;
    }

}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-size: 10px;
}


